USE [master]
GO
/****** Object:  Database [DMA-CSD-S211_10407521]    Script Date: 25/11/2022 12:38:17 ******/
CREATE DATABASE [DMA-CSD-S211_10407521]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DMA-CSD-S211_10407521', FILENAME = N'F:\SQLServer2019Databases\DMA-CSD-S211_10407521.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DMA-CSD-S211_10407521_log', FILENAME = N'G:\SQLServer2019Logs\DMA-CSD-S211_10407521_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DMA-CSD-S211_10407521].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DMA-CSD-S211_10407521]
GO
/****** Object:  User [KNOL]    Script Date: 25/11/2022 12:38:17 ******/
CREATE USER [KNOL] FOR LOGIN [KNOL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DMA-CSD-S211_10407521]    Script Date: 25/11/2022 12:38:17 ******/
CREATE USER [DMA-CSD-S211_10407521] FOR LOGIN [DMA-CSD-S211_10407521] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [KNOL]
GO
ALTER ROLE [db_owner] ADD MEMBER [DMA-CSD-S211_10407521]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25/11/2022 12:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[phoneNumber] [varchar](50) NOT NULL,
	[email] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25/11/2022 12:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[orderDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 25/11/2022 12:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[productID] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[totalPrice] [float] NOT NULL,
 CONSTRAINT [PK_OrderLine] PRIMARY KEY CLUSTERED 
(
	[productID] ASC,
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25/11/2022 12:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] NOT NULL,
	[name] [varchar](130) NOT NULL,
	[price] [float] NOT NULL,
	[Image] [nchar](200) NULL,
	[stockQuantity] [int] NOT NULL,
	[isStock] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([ID], [firstName], [lastName], [phoneNumber], [email]) VALUES (1, N'Bon', N'Bon', N'123', N'123')
INSERT [dbo].[Customer] ([ID], [firstName], [lastName], [phoneNumber], [email]) VALUES (2, N'ben', N'ben', N'123', N'123')
GO
INSERT [dbo].[Order] ([ID], [customerID], [orderDate]) VALUES (1, 1, CAST(N'2022-11-24T10:30:00.000' AS DateTime))
GO
INSERT [dbo].[OrderLine] ([productID], [orderID], [quantity], [totalPrice]) VALUES (1, 1, 10, 200)
GO
INSERT [dbo].[Product] ([ID], [name], [price], [Image], [stockQuantity], [isStock]) VALUES (1, N'Pizza', 10, N'1                                                                                                                                                                                                       ', 2000, 1)
INSERT [dbo].[Product] ([ID], [name], [price], [Image], [stockQuantity], [isStock]) VALUES (2, N'Pizza', 32, N'2                                                                                                                                                                                                       ', 3131, 1)
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Order]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Product]
GO
USE [master]
GO
