@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Easy Food shop</h1>
    <p>News <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>About us <a>  : We are ....</a>. </p>

    <p> Let us to give you an easy way to find your favorite food menu</p>
   
</div>

<div class="text-center" >
    <h2 class="display-22">You can find us  </h2>
    <p> Address : GreatPizza 14, 9999 OnionLand </p>
    <p> Phone   : +11 - 1111-1111 </p>
    <p> Email   : greatfood@tastegood.com</p>
</div>
