@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Delicious Pizza</h1>
    <h2> Address: Champ Elysee 1300</h2>
    <h2> Opening: Man-Sun 10.00-22.00</h2>
</div>

